<header>
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-flat-button color="primary">Розклад</button>
      <button mat-flat-button color="primary">
        <span>Фільми</span>
        <!-- <mat-icon>shopping_cart_checkout</mat-icon> -->
      </button>
      <span>Ukr-min-cin</span>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>shopping_cart_checkout</mat-icon>
      </button>
      <button mat-flat-button color="primary">
        <span>Вхід</span>
        <!-- <mat-icon>shopping_cart_checkout</mat-icon> -->
      </button>
      <button mat-flat-button color="primary">
        <span>Реєстрація</span>
        <!-- <mat-icon>shopping_cart_checkout</mat-icon> -->
      </button>
    </mat-toolbar>
</header>